body {
  font-family: "TT Norms Pro";
}

.nav-item {
  margin-inline: 10px;
}

.hello {
  color: rgb(173, 96, 246);
}

.mail {
  text-decoration: none;
}

.circle {
  align-self: center;
  padding: 10px;
}
